/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  color: white;
  padding: 10px;
}uuuuuu

.white-text {
  border: 10px solid rgb(88, 24, 131);
  padding: 20px;
  margin: 10px
}

p {
  border: 10px solid rgb(88, 24, 131);
  padding: 20px;
  margin: 10px
}